header#header-bar {
  width: 100%;
  padding: 0 25px;
}

div#header-icon {
  height: 90px;
}

div#header-icon img {
  margin: 10px 0 10px 0;
  height: 60px;
}

div#header-icon a {
  text-decoration: none !important;
}

div.header-icon-subtitle {
  width: 240px;
  margin: -20px 0 0 60px;
  color: #1762A3;
  text-transform: uppercase;
  letter-spacing: 0.155em;
}

div.header-link-item {
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 80px;
}

div.header-link-item a {
  color: rgb(0, 0, 0);
  display: inline-block;
  line-height: 90px;
  margin: 0 auto;
  text-decoration: none !important;
}

div.header-link-item a:hover {
  border-bottom-style: solid;
  border-bottom-width: 6px;
  margin-top: -6px;
  padding-top: 12px;
  line-height: 78px;
}

div.header-link-item-signup a {
  border-bottom-color: #2BA48B;
}
div.header-link-item-about a {
  border-bottom-color: #D8DF6C;
}
div.header-link-item-homeward a {
  border-bottom-color: #45B7DB;
}

div.header-link-item.header-link-item-active a {
  border-bottom-style: solid;
  border-bottom-width: 6px;
  margin-top: -6px;
  padding-top: 12px;
  line-height: 78px;
}

@media (min-width: 992px) {
  /* For col-md, move homeward to be right-aligned */
  div.header-link-item-homeward {
    text-align: right;
  }
}


@media (max-width: 992px) {
  /* For smaller than col-md, the links will be on their own line,
   * so we reduce their height as well as the heading's.
   */

  header#header-bar {
    padding: 0 20px;
  }

  div#header-icon {
    text-align: center;
    padding: 0;
  }

  div#header-links {
    padding: 0;
  }

  div.header-link-item {
    height: 40px;
  }

  div.header-link-item a {
    line-height: 30px;
  }

  div.header-link-item a:hover {
    margin-top: -6px;
    padding-top: 2px;
    line-height: 38px;
  }

  div.header-link-item.header-link-item-active a {
    margin-top: -6px;
    padding-top: 2px;
    line-height: 38px;
  }

  div.header-icon-subtitle {
    margin-left: auto;
    margin-right: auto;
    padding-left: 45px;
    width: 300px;
  }
}
