header#header-bar {
  width: 100%;
  padding: 0 25px;
}

div#header-icon {
  height: 80px;
}

div#header-icon h1 {
  margin: 0;
  height: 80px;
  line-height: 80px;
}

div.header-link-item {
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 80px;
}

@media (min-width: 992px) {
  /* For col-md, move homeward to be right-aligned */
  div.header-link-item-homeward {
    text-align: right;
  }
}

div.header-link-item a {
  color: rgb(0, 0, 0);
  display: inline-block;
  line-height: 80px;
  margin: 0 auto;
  text-decoration: none !important;
}

div.header-link-item a:hover {
  border-bottom-style: solid;
  border-bottom-width: 6px;
  margin-top: -6px;
  padding-top: 12px;
  line-height: 68px;
}

div.header-link-item-signup a {
  border-bottom-color: #2BA48B;
}
div.header-link-item-about a {
  border-bottom-color: #D8DF6C;
}
div.header-link-item-homeward a {
  border-bottom-color: #45B7DB;
}

div.header-link-item.header-link-item-active a {
  border-bottom-style: solid;
  border-bottom-width: 6px;
  margin-top: -6px;
  padding-top: 12px;
  line-height: 68px;
}
