header#header-bar {
  width: 100%;
  padding: 0 25px;
}

div#header-icon {
  height: 80px;
}

div#header-icon h1 {
  margin: 0;
  height: 80px;
  line-height: 80px;
}

div.header-link-item {
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 80px;
}

@media (min-width: 992px) {
  /* For col-md, move homeward to be right-aligned */
  div.header-link-item-homeward {
    text-align: right;
  }
}

div.header-link-item a {
  display: inline-block;
  line-height: 80px;
  margin: 0 auto;
  text-decoration: none !important;
}
