div.body-content {
  background-color: rgb(228, 228, 228);
  padding: 40px;
}

div.page-image-block {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: top center;
}

div.page-text-wrapper {
  background-color: rgb(255, 255, 255);
  padding: 40px;
}

div.page-text-wrapper h1 {
  text-align: center;
  margin: 0;
}

div.page-text-wrapper h2 {
  margin: 0;
}

div.page-text-wrapper img {
  max-width: 80%;
  max-height: 1200px;
  display: block;
  margin: 0 auto;
}

div.page-accent-bar {
  height: 6px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
}

div.accent-centered {
  margin-left: auto;
  margin-right: auto;
}

div.accent-left {
  margin-left: 0;
}

div.partner-img-wrapper {
  margin-top: 30px;
}

div.partner-img-div {
  min-height: 200px;
}

@media (max-width: 992px) {
  div.page-image-block {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: top center;
  }

  /* For smaller than col-md, we reduce padding. */
  div.body-content {
    padding: 20px;
  }

  div.page-text-wrapper {
    padding: 20px;
  }

  div.page-text-wrapper img {
    max-width: 100%;
  }

  div.partner-img-div {
    min-height: 100px;
  }
}
