div.projects-container {
  background-color: rgb(228, 228, 228);
  padding: 30px;
}

@media (max-width: 992px) {
  /* For smaller than col-md, we reduce padding. */
  div.projects-container {
    padding: 10px;
  }
}

div.project-card-wrapper {
  padding: 10px;
}

@media (min-width: 992px) {
  /* For larger than col-md, we make sure the alignment of the cards is okay*/
  div.project-card-wrapper:nth-of-type(3n+3) {
    margin-bottom: 20px;
  }
}

div.project-card {
  background-color: rgb(255, 255, 255);
}

div.project-card-title-wrapper {
  padding-top: 1em;
  padding-bottom: 0.6em;
}

div.project-card-accent-bar {
  background-color: rgb(24, 165, 139);
  height: 6px;
  width: 25%;
  max-width: 5.5em;
  margin: 0 auto;
}

div.project-card-desc-wrapper {
  padding: 15px;
  background-color: rgb(242, 242, 242);
}

div.project-card h2 {
  font-size: 1.6em;
  margin: 0;
  display: block;
  width: 100%;
  text-align: center;
}

a.project-card-link {
  color: rgb(0, 0, 0);
  text-decoration: none !important;
}
