/* Media query to remove extra padding on sm+ screens */
@media (min-width: 768px) {
  div.project-col {
    padding-left: 0;
  }

  div.image-col {
    padding-right: 0;
  }
}

div.image-col img {
  max-width: 100%;
  margin-bottom: 40px;
}

a.project-btn {
  color: #FFFFFF;
  background-color: #2BA48B;
}

a.project-btn:hover {
  color: #FFFFFF;
  background-color: #008A6E;
}

