
<div class="col-md-4 col-sm-6 project-card-wrapper">
  <div class="project-card">
    <div class="project-card-title-wrapper">
      <a class="project-card-link" href="projects/<%=project_name_to_link project.name %>.html">
        <h1><%= project.name %></h1>
      </a>
    </div>
    <div class="project-card-accent-bar"></div>
    <div class="project-card-desc-wrapper">
      <p><%=  if project.short_description
                project.short_description
              else
                project.description
              end %></p>
    </div>
  </div>
</div>
