<div class="col-md-4 col-sm-6 project-card-wrapper">
  <div class="project-card">
    <div class="project-card-title-wrapper">
      <h1><%= project_name %></h1>
    </div>
    <div class="project-card-accent-bar"></div>
    <div class="project-card-desc-wrapper">
      <p><%= project_desc %></p>
    </div>
  </div>
</div>
