
<div class="project-card-wrapper col-md-4 col-sm-6">
  <div class="project-card">
    <div class="project-card-title-wrapper">
      <a class="project-card-link" href="projects/<%=project_name_to_link project.name %>.html">
        <h2><%= project.name %></h2>
      </a>
    </div>
    <div class="project-card-accent-bar"></div>
    <div class="project-card-desc-wrapper">
      <p><%=  if project.short_description
                project.short_description
              else
                project.description
              end %></p>
    </div>
  </div>
</div>
