<header class="container-fluid" id="header-bar">

  <div id="header-icon" class="col-md-9">
    <h1>Back the Bend</h1>
  </div>

  <!-- <%# Spacer %><div class="col-md-5"></div> -->

  <div class="col-md-1 col-xs-4 header-link-item <%= "header-link-item-active" if active_page == "signup" %>"><a>Sign Up</a></div>
  <div class="col-md-1 col-xs-4 header-link-item <%= "header-link-item-active" if active_page == "about" %>"><a>About</a></div>
  <div class="col-md-1 col-xs-4 header-link-item <%= "header-link-item-active" if active_page == "homeward" %>"><a>Homeward</a></div>

</header>
