---
title: About | Back the Bend
active_page: about
stylesheet: [page]
page_name: about
---

<% page_name = current_page.data.page_name %>

<div class="body-content">
  <%= %(<div class="page-image-block" style="background-image: url(images/#{data.pageimages[page_name]})"></div>) if data.pageimages[page_name] %>
  <div class="page-text-wrapper">
    <h1>About the Event</h1>
    <div class="page-accent-bar accent-centered" <%= %(style="background-color: #{data.accentcolors[page_name]};") if data.accentcolors[page_name] %> ></div>
    <p>Back the Bend 2017 is a continuation of the annual service event, CommUniversity Day. This is the eighth year that the University of Notre Dame has partnered with the South Bend community and other local colleges and universities to carry out upwards of twenty service projects on a Saturday in April. In its best year 600 volunteers participated in CommUniversity Day.</p>
    <p>CommUniversity Day was renamed to Back the Bend in honor of the 150th Anniversary of South Bend.</p>
    <p>Community partners involved in providing volunteer projects for Back the Bend 2017 include the City of South Bend Public Works Department, Indiana Landmarks, the Neighborhood Resources Connection, the Northeast Neighborhood Council, the Notre Dame Center for Arts and Culture, Rebuilding Together, the Robinson Community Learning Center, South Bend Parks and Recreation, and Unity Gardens.</p>
    <p>This year Back the Bend will be taking place on <strong>Saturday, April 8th</strong>. To browse the projects planned for this year’s service day, see the “Sign Up” tab. Volunteers should sign up online using the “Sign Up Now” button on each project page (click on the project you are interested in first, then fill out the online form).</p>
    <p>For questions or more details please contact Caitlin Hodges at <a href="mailto:chodges1@nd.edu">chodges1@nd.edu</a>.</p>
    <div class="partner-img-wrapper container-fluid">
      <% ["logo_images/p-city-of-south-bend.png", "logo_images/p-indiana-landmarks.jpg", "logo_images/p-ndcac.jpg", "logo_images/p-northeast.png", "logo_images/p-nrc.png", "logo_images/p-rclc.gif", "logo_images/p-rebuilding-together.png", "logo_images/p-sb-parks-recreation.png", "logo_images/p-unity-gardens.jpg"].each do |imgname| %>
        <div class="partner-img-div col-xs-6 col-sm-3">
        <%= image_tag imgname, :class => "partner-img" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
