---
title: Homeward Bound | Back the Bend
active_page: homeward
stylesheet: [page]
page_name: homeward
---

<% page_name = current_page.data.page_name %>

<div class="body-content">
  <%= %(<div class="page-image-block" style="background-image: url(images/#{data.pageimages[page_name]})"></div>) if data.pageimages[page_name] %>
  <div class="page-text-wrapper">
    <h1>Homeward Bound Run</h1>
    <div class="page-accent-bar accent-centered" <%= %(style="background-color: #{data.accentcolors[page_name]};") if data.accentcolors[page_name] %> ></div>
    <p>Visit <a href="https://homewardboundindiana.org/walk/st-joseph/">https://homewardboundindiana.org/walk/st-joseph/</a> to register for the Homeward Bound 5K Walk or Run.</p>
    <p>For more information contact <a href="mailto:Duane.A.Wilson.274@nd.edu">Duane.A.Wilson.274@nd.edu</a><br />
    OR<br />
    Call the Robinson Community Learning Center at <a href="tel:5746318410">(574) 631-8410</a></p>
    <%= image_tag "homeward-poster.jpg" %>
  </div>
</div>
