---
title: Back the Bend
active_page: signup
stylesheet: [announcement, project-cards]
page_name: signup
---

<div class="container-fluid announcement-container">
  <p>Update: Please see the <a href="/public/schedule2017.pdf">Day-Of Timeline for April 2nd.</a></p>
</div>

<div class="container-fluid projects-container">
  <% data.projects.each do |project| %>
    <%= partial("card", locals: { project: project }) %>
  <% end %>
</div>
