---
title: Welcome to Middleman
active_page: signup
---

<div class="container-fluid projects-container">
  <% data.projects.each do |project| %>
    <%= partial("card", locals: {
      project_name: project.name,
      project_desc: project.description
    }) %>
  <% end %>
</div>
