---
title: Back the Bend
active_page: signup
stylesheet: [project-cards]
page_name: signup
---

<div class="container-fluid projects-container">
  <% data.projects.each do |project| %>
    <%= partial("card", locals: { project: project }) %>
  <% end %>
</div>
