---
title: Back the Bend
active_page: signup
stylesheet: [announcement, project-cards]
page_name: signup
---

<div class="container-fluid announcement-container">
<!--   <p>Update: Please see the <a href="/public/schedule2017.pdf">Day of Timeline for April 8th</a></p> -->
<h4>Back the Bend is on Saturday, April 14th</h4>
</div>

<div class="container-fluid projects-container">
  <% data.projects.each do |project| %>
    <%= partial("card", locals: { project: project }) %>
  <% end %>
</div>
